<div class="container">
    <div class="form-box">
      <h2>Login</h2>
      <form (ngSubmit)="loginUser()" #loginForm="ngForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            required
            [(ngModel)]="email"
            class="form-control"
          />
        </div>
  
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            required
            [(ngModel)]="password"
            class="form-control"
          />
        </div>
  
        <button type="submit" class="btn-primary">Login</button>
      </form>
      <p>
        Don't have an account?
        <a routerLink="/signup" class="link">Sign up here</a>
      </p>
      <p *ngIf="error" class="error">{{ error }}</p>
    </div>
  </div>